.chat.claer-fix
  .chat-notification
    %p チャットグループが作成されました
  .chat-side
    .chat-side__user
      %h5 Ryoma Kawahara
      .chat-side__user__action
        %i.fa.fa-cog
        %i.fa.fa-pencil-square-o
    .chat-side__groups
      .chat-side__groups__group
        %h5 sample group
        %h4 sample message
      .chat-side__groups__group
        %h5 aaaaaaaaaaaaaaa
        %h4 まだメッセージはありません
      .chat-side__groups__group
        %h5 sample グループ
        %h4 まだメッセージはありません

  .chat-main
    .chat-main__selected-group
      .chat-main__selected-group__group
        %h5 sample group
        %h4 Members: seo kawahara
      .chat-main__selected-group__edit
        EDIT
    .chat-main__conversations
      .chat-main__conversations__conversation
        %h3 ryosukemaehira
        %h2 2017/3/8 08:34:09
        %p なるほど
      .chat-main__conversations__conversation
        %h3 ryosukemaehira
        %h2 2017/3/8 08:34:09
        %p なるほど
      .chat-main__conversations__conversation
        %h3 ryosukemaehira
        %h2 2017/3/8 08:34:09
        %p なるほど
    .chat-main__bottom
      .chat-main__bottom__input
        .chat-main__bottom__input__text
          text message
        %i.fa.fa-picture-o
      .chat-main__bottom__button
        SEND
