%li.chat-group
  %a.chat-group__link{ href: group_path(group.id) }
    %p.chat-group__name
      = group.name
    %p.chat-group__message
      = group.messages.last.content unless group.messages.last.blank?
