.chat {
  width: 100%;
  height: 100%;
  min-width: 1090px;
  &-side {
    overflow: scroll;
    height: 100%;
    width: $chatSideWidth;
    background-color: $chatSideMainColor;
    float: left;
    .chat-user {
      width: calc(100% - 40px);
      height: $chatUserHeight;
      background-color: $chatSideUserColor;
      padding: 0 20px 0 20px;
      h5 {
        font-size: 16px;
        color: $white;
        float: left;
        line-height: 96px;
      }
      &__actions {
        float: right;
        line-height: 96px;
        .fa {
          color: $white;
        }
      }
    }
    .chat-groups {
      padding: 0 20px 0 20px;
      .chat-group {
        padding-bottom: 40px;
        &__name {
          font-size: 15px;
          color: $white;
          padding-top: 20px;
        }
        &__message {
          font-size: 11px;
          color: $white;
          padding-top: 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  &-main {
    height: 100%;
    width: calc(100% - #{$chatSideWidth});
    float: left;
    .chat-header {
      height: $chatMainHeaderHeight;
      width: 100%;
      &--left {
        float: left;
        h2 {
          font-size: 20px;
          color: $black;
          padding: 25px 0 0 40px;
        }
        p {
          font-size: 12px;
          color: $fontGray;
          padding: 15px 0 0 40px;
         }
      }
      &--right {
        float: right;
        margin: 28px 0 28px 0;
        a {
          border-style: solid;
          border-color: $mainBlueColor;
          padding: 10px 20px 10px 20px;
          font-size: 20px;
          color: $mainBlueColor;
        }
      }
    }
    .chat-body {
      height: calc(100% - #{$chatMainHeaderHeight} - #{$chatMainFooterHeight});
      background-color: $mainGray;
      ul {
        padding: 46px 0 0 40px;
        height: 100%;
        overflow: scroll;
        .chat-message {
          margin: 0 0 40px 0;
            &__name {
              float: left;
              padding-right: 10px;
              font-size: 16px;
              color: $black;
            }
            &__time {
              color: $fontGray;
            }
            &__body {
              padding-top: 10px;
              font-size: 14px;
              color: $black;
              word-break: break-all;
              img {
                width: 200px;
                height: 200px;
              }
            }

        }
      }
    }
    .chat-footer {
      width: 100%;
      height: $chatMainFooterHeight;
      background-color: #d1d1d1;
      textarea {
        position: relative;
        top: 20px;
        left: 20px;
        width: 80%;
        height: 70%;
        border-style: none;
        resize: none;
      }
      label {
        cursor: pointer;
      }
      .fa-image {
        position: relative;
        left: 30px;
        line-height: 60px;
        padding-right: 10px;
      }
      input[type='file'] {
        display: none;
      }
      #chat-footer__btn {
        width: 100px;
        height: 60px;
        margin-left: 20px;
        background-color: $mainBlueColor;
        color: $white;
        line-height: 60px;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
