$white: #FFFFFF;
$black: black;
$mainBlueColor: #38AEF0;
$chatSideUserColor: #253141;
$chatSideMainColor: #2F3E51;
$mainGray: #e6e3e3;
$fontGray: #999999;

$chatMainHeaderHeight: 96px;
$chatMainFooterHeight: 90px;
$chatSideWidth: 300px;
$chatUserHeight: 96px;
$mainGray: #e6e3e3;
