/*
  *= require font-awesome
*/

.notice {
  background-color: #38AEF0;
  text-align: center;
}

.alert {
  background-color: #ed6d6d;
  text-align: center;
}

body,html {
  width: 100%;
  height: 100%;
}

@import './reset';
@import './variables';
@import './clear-fix';
@import './group-index';
@import './user';
@import './group';
@import './group-edit'
